body{
    background-color:black;
    color: rgb(218, 185, 142);
}
.goorac{
    border: 0.1px solid rgb(49, 36, 36) ;
   border-radius: 15px;
    background-color:rgb(31, 27, 24) ;
    width: 100%;
    margin-top: 15px;
}
.gh{
    font-size: 18px;
    margin-left: 8px;
    margin-top: 4px;
    text-align: left;
    color: aliceblue;
}
.dg{
    text-align: left;
    margin-left: 5px;
}
.navbar {
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgb(71, 71, 82);
    color: white;
    text-align: left;
    height: 50px;
  }
  .main {
    width: 97%;
    margin-top: 60px;
    height: 1500px; /* Used in this example to enable scrolling */
  }
  .logo{
    position:absolute;
    margin-top: 20px;
    font-size: 20px;
    margin-left: 40px;
}
.type{
    position:relative;
    margin-top: -25px;
    font-size: 20px;
    margin-left: 80%;
    font-family:fantasy;
    color: rgb(185, 185, 236);
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
    .sidenav a {
      text-align: left;
      margin-left: 20px;
      padding: 8px 8px 8px 32px;
      text-decoration: none;
      font-size: 20px;
      color: #818181;
      display: block;
      transition: 0.3s;
    }
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  #main {
    transition: margin-left .5s;
    padding: 16px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }